:root {
    --primary-color: #fafafa;
    --primary-color-dark: #dbdbdb;
    --facebook-color: #385194;
    --facebook-color-light: #209af7;
    --font-light: #8e8e8e;
    --button-color: #afdcf9;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: var(--primary-color);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 60%;
    min-width: 300px;
    height: 60%;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px var(--facebook-color-light); */
    background-color: var(--facebook-color);
}
.warning div {
    width: 100%;
}
.warning--leave-button {
    border: none;
    background-color: var(--facebook-color);
}
.leave-button--icon {
    display: block;
    background-image: url("./assets/icons/logout.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
}
.leave-button--icon:hover {
    cursor: pointer;
}
.warning--title {
    margin: 30px 0 12px 0;
    font-size: 3.5rem;
    color: var(--primary-color);
}
.warning--content {
    font-size: 2rem;
    text-align: center;
    color: var(--primary-color);
}

.main--phone-img {
    display: none;
}
.main--login {
    margin: 20px auto;
    width: 90%;
    min-width: 320px;
}
.main--login .main--title {
    margin-top: 45px;
    margin-bottom: 35px;
    text-align: center;
}
.login--form {
    width: 90%;
    margin: 0 auto;
}
.login--form .form--input {
    display: block;
    width: 83%;
    max-width: 270px;
    height: 38px;
    padding: 10px;
    margin: 6px auto;
    border-radius: 2px;
    border: 1px solid var(--primary-color-dark);
    color: var(--font-light);
    background-color: var(--primary-color);
    font-size: 1.2rem;
}
.login--form .form--button {
    display: block;
    padding: 7px;
    margin: 0 auto;
    margin-top: 15px;
    width: 83%;
    max-width: 270px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-color: var(--button-color);
    border: none;
    border-radius: 4px;
    color: white;
}
.divisor {
    display: flex;
    margin: 15px auto;
    width: 75%;
    max-width: 270px;
    justify-content: space-between;
    align-items: center;
}
.divisor div {
    width: 45%;
    height: 1px;
    background-color: var(--primary-color-dark);
}
.divisor span {
    font-size: 1.6rem;
    color: var(--font-light);
}

/* Links */

.login--alternative {
    margin-top: 20px;
}
.alternative--link {
    display: block;
    margin: 22px 0;
    text-align: center;
    font-size: 1.4rem;
    color: var(--facebook-color);
}
.alternative--link .facebook-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background: url("./assets/icons/facebook-icon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.alternative--link__bold {
    font-weight: 700;
}
.alternative--link__small {
    font-size: 1.2rem;
}
.alternative--paragraph {
    margin-top: 60px;
    text-align: center;
    font-size: 1.4rem;
}
.alternative--paragraph__bold {
    text-decoration: none;
    font-weight: 700;
    color: var(--facebook-color-light);
}
.login--links {
    margin: 40px auto 0;
    max-width: 320px;
}
.login--links .links--paragraph {
    text-align: center;
    font-size: 1.4rem;
}
.login--links .links--list {
    display: flex;
    margin: 20px auto 0;
    width: 90%;
    justify-content: space-around;
}
.login--links .links--list img {
    width: 136px;
    height: 40px;
}
footer {
    margin-top: 60px;
}
.footer--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
}
.footer--list li {
    font-size: 1.2rem;
    margin: 5px 6px;
}
.footer--list li a {
    color: var(--font-light);
}
.footer--brand {
    display: flex;
    width: 90%;
    max-width: 320px;
    justify-content: space-evenly;
    margin: 15px auto 55px;
}
.footer--brand li {
    font-size: 1.2rem;
    color: var(--font-light);
}
.footer--brand li span {
    display: inline-block;
    background-image: url("./assets/icons/down-sign.svg");
    width: 12px;
    height: 12px;
    margin-left: 4px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.inactive {
    display: none;
}

@media (min-width: 450px) {
    .main--login {
        margin-top: 45px;
        max-width: 348px;
        padding-bottom: 15px;
        border-radius: 2px;
        border: 1px solid var(--primary-color-dark);
        background-color: white;
    }
}

@media (min-width: 875px) {
    .warning {
        max-width: 650px;
    }
    main {
        display: flex;
        justify-content: center;
        max-width: 935px;
        margin: 0 auto;
    }
    .main--phone-img {
        display: block;
        width: 380px;
    }
    .main--phone-img .phone-img--background {
        position: relative;
        width: 380px;
        height: 580px;
        margin-top: 45px;
        background-image: url("./assets/imgs/phone-background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .main--phone-img .phone-img--front-img {
        position: absolute;
        top: -24px;
        right: 28px;
        width: 233px;
        height: 503px;
        margin-top: 45px;
        background-image: url("./assets/imgs/profile-pic.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .main--login {
        margin-left: 40px;
        margin-right: 0;
    }
    footer {
        max-width: 980px;
        margin: 0 auto;
    }
}
